{{ define "content" }}

<h1>Sign Up</h1>
<div id="container">
    <form class="signup" method="post" action="/signup/auth" enctype="application/x-www-form-urlencoded">
        <p>name</p>
        <input type="text" name="name"><br>
        <p>e-mail</p>
        <input type="email" name="email"><br>
        <p>password</p>
        <input type="password" name="password" ><br>
        <input type="submit" value="Sign Up">
    </form>
    <!-- login -->
    <a href="/login"><p>loginはこちら</p></a>
    <!-- /login -->
</div> <!-- /container -->

{{end}}